<!doctype html>

<!-- Esto debería estar dentro de un template -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Proyectando ...</title>
	<link rel="stylesheet" href="http://necolas.github.io/normalize.css/2.1.3/normalize.css">
	<link rel="stylesheet" href="/static/css/estilo.css">
</head>
<body>
	

	<section id = "area_presentacion">
		<article>
			<figure id = "slide_area">

				<img src="" alt="" id="imagen_aca">
				<figcaption>
					<h1 id = "label_aca"></h1>	
				</figcaption>

			</figure>
		</article>
	</section>


	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="/static/js/sockjs-0.3.2.min.js"></script>
	<script src="/static/js/Controlador.js"></script>
	<script src="/static/js/proyecciones.js"></script>


	<!--<script type="text/javascript">

		c = new Controlador();
		c.canal_socket = "socketproyecciones";

 		//Aca debería controlar exceptions de conexión XD (TEHEEE !)
		c.iniciarSocket();

	</script>-->

</body>
</html>